language: node_js
node_js:
  - "10.16.0"

before_install:
  - curl -o- -L https://yarnpkg.com/install.sh | bash -s -- --version 1.5.1
  - export PATH="$HOME/.yarn/bin:$PATH"
  - echo '' > .env
  - echo "infoConnectUser = '$infoConnectUser'" >> .env
  - echo "infoConnectPass = '$infoConnectPass'" >> .env

script:
  - npm test